################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net6.0
/obj
/Test78/bin
/Test78/obj
/Update78/.vs
/Update78/bin/Debug/net6.0
/Update78/obj
